<a href="https://colab.research.google.com/github/osohyun0224/R-Baisc/blob/master/week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
getwd()

[1] "/content"

In [1]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [5]:
library(tidyverse)
search()

 [1] ".GlobalEnv"        "package:lubridate" "package:forcats"
 [4] "package:stringr"   "package:dplyr"     "package:purrr"
 [7] "package:readr"     "package:tidyr"     "package:tibble"
[10] "package:ggplot2"   "package:tidyverse" "jupyter:irkernel"
[13] "package:stats"     "package:graphics"  "package:grDevices"
[16] "package:utils"     "package:datasets"  "package:methods"
[19] "Autoloads"         "package:base"

In [7]:
install.packages("gapminder")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [10]:
library(gapminder)
library(dplyr)
glimpse(gapminder)

Rows: 1,704
Columns: 6
$ country   <fct> "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", …
$ continent <fct> Asia, Asia, Asia, Asia, Asia, Asia, Asia, Asia, Asia, Asia, …
$ year      <int> 1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, …
$ lifeExp   <dbl> 28.801, 30.332, 31.997, 34.020, 36.088, 38.438, 39.854, 40.8…
$ pop       <int> 8425333, 9240934, 10267083, 11537966, 13079460, 14880372, 12…
$ gdpPercap <dbl> 779.4453, 820.8530, 853.1007, 836.1971, 739.9811, 786.1134, …

In [11]:
gapminder[1:15, ]

   country     continent year lifeExp pop      gdpPercap
1  Afghanistan Asia      1952 28.801   8425333  779.4453
2  Afghanistan Asia      1957 30.332   9240934  820.8530
3  Afghanistan Asia      1962 31.997  10267083  853.1007
4  Afghanistan Asia      1967 34.020  11537966  836.1971
5  Afghanistan Asia      1972 36.088  13079460  739.9811
6  Afghanistan Asia      1977 38.438  14880372  786.1134
7  Afghanistan Asia      1982 39.854  12881816  978.0114
8  Afghanistan Asia      1987 40.822  13867957  852.3959
9  Afghanistan Asia      1992 41.674  16317921  649.3414
10 Afghanistan Asia      1997 41.763  22227415  635.3414
11 Afghanistan Asia      2002 42.129  25268405  726.7341
12 Afghanistan Asia      2007 43.828  31889923  974.5803
13 Albania     Europe    1952 55.230   1282697 1601.0561
14 Albania     Europe    1957 59.280   1476505 1942.2842
15 Albania     Europe    1962 64.820   1728137 2312.8890

In [12]:
gapminder[gapminder$country == "Croatia",  ]

   country continent year lifeExp pop     gdpPercap
1  Croatia Europe    1952 61.210  3882229  3119.237
2  Croatia Europe    1957 64.770  3991242  4338.232
3  Croatia Europe    1962 67.130  4076557  5477.890
4  Croatia Europe    1967 68.500  4174366  6960.298
5  Croatia Europe    1972 69.610  4225310  9164.090
6  Croatia Europe    1977 70.640  4318673 11305.385
7  Croatia Europe    1982 70.460  4413368 13221.822
8  Croatia Europe    1987 71.520  4484310 13822.584
9  Croatia Europe    1992 72.527  4494013  8447.795
10 Croatia Europe    1997 73.680  4444595  9875.605
11 Croatia Europe    2002 74.876  4481020 11628.389
12 Croatia Europe    2007 75.748  4493312 14619.223

In [13]:
gapminder[gapminder$country == "Croatia", "pop" ]

   pop
1  3882229
2  3991242
3  4076557
4  4174366
5  4225310
6  4318673
7  4413368
8  4484310
9  4494013
10 4444595
11 4481020
12 4493312

In [14]:
gapminder[gapminder$country == "Croatia"&gapminder$year>1900,c("lifeExp","pop") ]

   lifeExp pop
1  61.210  3882229
2  64.770  3991242
3  67.130  4076557
4  68.500  4174366
5  69.610  4225310
6  70.640  4318673
7  70.460  4413368
8  71.520  4484310
9  72.527  4494013
10 73.680  4444595
11 74.876  4481020
12 75.748  4493312

In [15]:
apply(gapminder[gapminder$country == "Croatia"&gapminder$year>1900,c("lifeExp","pop") ],2,mean)

     lifeExp          pop
7.005592e+01 4.289916e+06

In [16]:
getwd()

[1] "/content"

In [17]:
va <- c(1:3, 4, 5)
vb <- 6:9
vc <- rep("c", times=6)
vd <- seq(1, 10, by=2)

In [19]:
va //이렇게 해야 보임
vb
vc
vd

[1] 1 2 3 4 5

[1] 6 7 8 9

[1] "c" "c" "c" "c" "c" "c"

[1] 1 3 5 7 9

In [21]:
rbind_abcd <- rbind(va,vb,vc,vd)
rbind_abcd //문제 7번

Warning message in rbind(va, vb, vc, vd):
“number of columns of result is not a multiple of vector length (arg 1)”

   [,1] [,2] [,3] [,4] [,5] [,6]
va 1    2    3    4    5    1
vb 6    7    8    9    6    7
vc c    c    c    c    c    c
vd 1    3    5    7    9    1

In [23]:
cbind_abcd <- cbind(va,vb,vc,vd)
cbind_abcd //문제 8번 열합침

Warning message in cbind(va, vb, vc, vd):
“number of rows of result is not a multiple of vector length (arg 1)”

     va vb vc vd
[1,] 1  6  c  1
[2,] 2  7  c  3
[3,] 3  8  c  5
[4,] 4  9  c  7
[5,] 5  6  c  9
[6,] 1  7  c  1