<a href="https://colab.research.google.com/github/osohyun0224/Introduction-to-BigData/blob/master/Week03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#/content/sample_data/Pre_Season_Batter_utf.csv
#https://drive.google.com/file/d/1lPZ_dyxdZZECfzqmOimWHukmLaRwLggB/view?usp=drive_link

In [ ]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [ ]:
library(data.table)

Attaching package: ‘data.table’


The following objects are masked from ‘package:lubridate’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose

In [ ]:
system("gdown --id 1lPZ_dyxdZZECfzqmOimWHukmLaRwLggB")
system("ls", TRUE) #파일확인

[1] "Pre_Season_Batter_utf.csv" "sample_data"

In [34]:
DF %>% show()

# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2         1 강경학       2011 한화  0         4     2     2     0     0     0
 3         1 강경학       2014 한화  0         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.13     10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0         3     4     0     0     0     0
 8         2 강구성       2016 NC    0         3     1     0     0     0     0
 9         2 강구성       2017 NC    1         2     1     0     1     0     0
10        69 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [ ]:
#4번문제
DF <- fread("/content/Pre_Season_Batter_utf.csv", header = T, encoding ="UTF-8") %>% as_tibble()

In [ ]:
# 5번 문제
DF %>% select(batter_name, team) %>% show()

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

In [ ]:
# 5번 다른 풀이
DF %>% select(.,batter_name, team) %>% show()

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

In [ ]:
# 5번 다른 풀이
select(DP,batter_name, team) %>% show()

ERROR: ignored

In [ ]:
#6번 잘못된 풀이
 DF1 <- DF  %>%  select(batter_name, team) %>% show()  ## 이렇게 하면 아무것도 안나옴(잘못된 풀이)

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

In [ ]:
#6번 올바른 풀이
 DF1 <- DF  %>%  select(batter_name, team) # 여기에 반드시 show가 있으면 안됨.
 DF1 %>% show()

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

In [ ]:
#7번 풀이
result <- DF %>%
  select(-batter_name, -team)

result %>% show()

# A tibble: 1,393 × 27
   batter_id  year   avg     G    AB     R     H  `2B`  `3B`    HR    TB   RBI
       <int> <int> <dbl> <int> <int> <int> <int> <int> <int> <int> <int> <int>
 1         0  2018 0.35      7    20     1     7     1     0     1    11     5
 2         1  2011 0         4     2     2     0     0     0     0     0     1
 3         1  2014 0         4     0     2     0     0     0     0     0     0
 4         1  2015 0.13     10    23     3     3     0     0     0     3     1
 5         1  2016 0.188    14    32     4     6     1     1     0     9     2
 6         1  2017 0.222    11    36    10     8     0     0     2    14     4
 7         2  2013 0         3     4     0     0     0     0     0     0     0
 8         2  2016 0         3     1     0     0     0     0     0     0     0
 9         2  2017 1         2     1     0     1     0     0     0     1     0
10        69  2006 0.2      10    15     0     3     0     0     0     3     3
# ℹ 1,383 more rows
# ℹ 15 more variables: SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>,
#   GDP <int>, SLG <dbl>, OBP <dbl>, E <int>, `height/weight` <chr>,
#   year_born <chr>, position <chr>, career <chr>, starting_salary <chr>,
#   OPS <dbl>

In [35]:
#7번 다른 풀이
DF %>% select(-batter_name , -team)  %>% show()

# A tibble: 1,393 × 27
   batter_id  year   avg     G    AB     R     H  `2B`  `3B`    HR    TB   RBI
       <int> <int> <dbl> <int> <int> <int> <int> <int> <int> <int> <int> <int>
 1         0  2018 0.35      7    20     1     7     1     0     1    11     5
 2         1  2011 0         4     2     2     0     0     0     0     0     1
 3         1  2014 0         4     0     2     0     0     0     0     0     0
 4         1  2015 0.13     10    23     3     3     0     0     0     3     1
 5         1  2016 0.188    14    32     4     6     1     1     0     9     2
 6         1  2017 0.222    11    36    10     8     0     0     2    14     4
 7         2  2013 0         3     4     0     0     0     0     0     0     0
 8         2  2016 0         3     1     0     0     0     0     0     0     0
 9         2  2017 1         2     1     0     1     0     0     0     1     0
10        69  2006 0.2      10    15     0     3     0     0     0     3     3
# ℹ 1,383 more rows
# ℹ 15 more variables: SB <int>, CS <int>, BB <int>, HBP <int>, SO <int>,
#   GDP <int>, SLG <dbl>, OBP <dbl>, E <int>, `height/weight` <chr>,
#   year_born <chr>, position <chr>, career <chr>, starting_salary <chr>,
#   OPS <dbl>

In [ ]:
# 8번 문제 풀이
result <- DF %>%
  rename(
    이름 = batter_name,
    팀 = team
  ) %>%
  select(이름, 팀)

result %>% show()

# A tibble: 1,393 × 2
   이름     팀
   <chr>    <chr>
 1 가르시아 LG
 2 강경학   한화
 3 강경학   한화
 4 강경학   한화
 5 강경학   한화
 6 강경학   한화
 7 강구성   NC
 8 강구성   NC
 9 강구성   NC
10 김태완   한화
# ℹ 1,383 more rows

In [36]:
#8번 - 함수를 한번 쓰는 버전
DF %>% select(이름 = batter_name ,팀 = team ) %>% show()

# A tibble: 1,393 × 2
   이름     팀
   <chr>    <chr>
 1 가르시아 LG
 2 강경학   한화
 3 강경학   한화
 4 강경학   한화
 5 강경학   한화
 6 강경학   한화
 7 강구성   NC
 8 강구성   NC
 9 강구성   NC
10 김태완   한화
# ℹ 1,383 more rows

In [ ]:
#9번
result<- DF %>%
  mutate(
    name1 = batter_name,
    name2 = batter_name,
    name3 = batter_name
  ) %>%
  select(name1, name2, name3)

result%>% show()

# A tibble: 1,393 × 3
   name1    name2    name3
   <chr>    <chr>    <chr>
 1 가르시아 가르시아 가르시아
 2 강경학   강경학   강경학
 3 강경학   강경학   강경학
 4 강경학   강경학   강경학
 5 강경학   강경학   강경학
 6 강경학   강경학   강경학
 7 강구성   강구성   강구성
 8 강구성   강구성   강구성
 9 강구성   강구성   강구성
10 김태완   김태완   김태완
# ℹ 1,383 more rows

In [40]:
#9번 다른 풀이
DF %>% select (name1 = batter_name, name2 = batter_name, name3 = batter_name ) %>% show()

# A tibble: 1,393 × 3
   name1    name2    name3
   <chr>    <chr>    <chr>
 1 가르시아 가르시아 가르시아
 2 강경학   강경학   강경학
 3 강경학   강경학   강경학
 4 강경학   강경학   강경학
 5 강경학   강경학   강경학
 6 강경학   강경학   강경학
 7 강구성   강구성   강구성
 8 강구성   강구성   강구성
 9 강구성   강구성   강구성
10 김태완   김태완   김태완
# ℹ 1,383 more rows

In [43]:
#10번
#result에 저장까지
result <- DF %>%
  filter(team == "한화") %>%
  select(team, batter_name) %>%
  unique()

result %>% show()

# A tibble: 33 × 2
   team  batter_name
   <chr> <chr>
 1 한화  강경학
 2 한화  김태완
 3 한화  강상원
 4 한화  신성현
 5 한화  김민수
 6 한화  김태균
 7 한화  김태연
 8 한화  김회성
 9 한화  백창수
10 한화  송광민
# ℹ 23 more rows

In [48]:
#10번 baseR 방식
DF[DF$team == "한화", c("team","batter_name")] %>% unique() %>%  show()

# A tibble: 33 × 2
   team  batter_name
   <chr> <chr>
 1 한화  강경학
 2 한화  김태완
 3 한화  강상원
 4 한화  신성현
 5 한화  김민수
 6 한화  김태균
 7 한화  김태연
 8 한화  김회성
 9 한화  백창수
10 한화  송광민
# ℹ 23 more rows

In [44]:
#11번
result <- DF %>%
  filter(team == "한화", G >= 5, AB >= 15) %>%
  select(team, batter_name, G, AB) %>%
  unique()

result %>% show()

# A tibble: 70 × 4
   team  batter_name     G    AB
   <chr> <chr>       <int> <int>
 1 한화  강경학         10    23
 2 한화  강경학         14    32
 3 한화  강경학         11    36
 4 한화  김태완         10    15
 5 한화  김태완          8    22
 6 한화  김태완         10    24
 7 한화  김태완         10    25
 8 한화  김태완          9    28
 9 한화  김태완         10    16
10 한화  신성현         14    35
# ℹ 60 more rows

In [26]:
#12번
result <- DF %>%
  group_by(team) %>%
  summarise(
    G_AVG = mean(G, na.rm = TRUE),
    AB_AVG = mean(AB, na.rm = TRUE),
    R_SUM = sum(R, na.rm = TRUE)
  )

result %>% show()

# A tibble: 13 × 4
   team     G_AVG AB_AVG R_SUM
   <chr>    <dbl>  <dbl> <int>
 1 KIA       7.87   16.8   321
 2 KT        7.63   16.3   143
 3 LG        8.74   20.3   500
 4 NC        8.49   17     195
 5 SK        8.37   19.9   426
 6 넥센      9.10   19.0   315
 7 두산     10.7    22.1   601
 8 롯데      8.21   17.7   424
 9 삼성      8.79   20.1   416
10 우리      7.33   17.3    10
11 한화      7.76   18.2   335
12 현대     10.1    25.3    42
13 히어로즈  8.2    15.6     5

In [64]:
#12번 다른 풀이
DF %>% group_by(team) %>% summarise(G = mean(G), AB = mean(AB), R=sum(R)) %>% show()

# A tibble: 13 × 4
   team         G    AB     R
   <chr>    <dbl> <dbl> <int>
 1 KIA       7.87  16.8   321
 2 KT        7.63  16.3   143
 3 LG        8.74  20.3   500
 4 NC        8.49  17     195
 5 SK        8.37  19.9   426
 6 넥센      9.10  19.0   315
 7 두산     10.7   22.1   601
 8 롯데      8.21  17.7   424
 9 삼성      8.79  20.1   416
10 우리      7.33  17.3    10
11 한화      7.76  18.2   335
12 현대     10.1   25.3    42
13 히어로즈  8.2   15.6     5

In [28]:
#13번
result <- DF %>%
  group_by(team, batter_name) %>%
  summarise(
    G_AVG = mean(G, na.rm = TRUE),
    AB_AVG = mean(AB, na.rm = TRUE),
    R_SUM = sum(R, na.rm = TRUE)
  )

result %>% show()

`summarise()` has grouped output by 'team'. You can override using the
`.groups` argument.

# A tibble: 336 × 5
# Groups:   team [13]
   team  batter_name G_AVG AB_AVG R_SUM
   <chr> <chr>       <dbl>  <dbl> <int>
 1 KIA   강한울       7.5    19.5     7
 2 KIA   김민식       7.5    12       3
 3 KIA   김선빈      10      22.3    29
 4 KIA   김주찬       8      19      15
 5 KIA   김주형       7.73   17.5    21
 6 KIA   나지완       9.9    27.7    39
 7 KIA   노수광       2.5     3       0
 8 KIA   박준태      12      18.5     7
 9 KIA   백용환       6.6    11.8     7
10 KIA   버나디나     6.5    17.5     7
# ℹ 326 more rows

In [65]:
#14번문제
DF %>%
  select(team, batter_name, avg) %>%
  arrange(team, desc(avg))%>%
  show()

# A tibble: 1,393 × 3
   team  batter_name   avg
   <chr> <chr>       <dbl>
 1 KIA   서동욱      1
 2 KIA   이용규      1
 3 KIA   강한울      0.6
 4 KIA   백용환      0.6
 5 KIA   이호신      0.5
 6 KIA   신종길      0.5
 7 KIA   안치홍      0.5
 8 KIA   이준호      0.5
 9 KIA   최형우      0.5
10 KIA   신범수      0.471
# ℹ 1,383 more rows

In [66]:
#15번 문제
DF %>% distinct(team) %>% arrange(team) %>% show()

# A tibble: 13 × 1
   team
   <chr>
 1 KIA
 2 KT
 3 LG
 4 NC
 5 SK
 6 넥센
 7 두산
 8 롯데
 9 삼성
10 우리
11 한화
12 현대
13 히어로즈
# A tibble: 13 × 1
   team
   <chr>
 1 KIA
 2 KT
 3 LG
 4 NC
 5 SK
 6 넥센
 7 두산
 8 롯데
 9 삼성
10 우리
11 한화
12 현대
13 히어로즈

In [ ]:
#15번 다른 문제
DF %>% distinct(team) %>% unique %>% arrange(team) %>% show()

In [32]:
#16번 문제
result <- DF %>%
  filter(team == "히어로즈") %>%
  arrange(desc(avg)) %>%
  distinct(batter_name, .keep_all = TRUE) %>%
  select(team, batter_name, avg)

result %>% show()

# A tibble: 5 × 3
  team     batter_name   avg
  <chr>    <chr>       <dbl>
1 히어로즈 이택근      0.333
2 히어로즈 유재신      0.25
3 히어로즈 오재일      0.242
4 히어로즈 황재균      0.194
5 히어로즈 장영석      0

In [69]:
#16번 다른 풀이
DF %>%
  filter(team == "히어로즈") %>%
  select (team, batter_name, avg) %>% unique() %>% arrange(desc(avg)) %>% show()

# A tibble: 5 × 3
  team     batter_name   avg
  <chr>    <chr>       <dbl>
1 히어로즈 이택근      0.333
2 히어로즈 유재신      0.25
3 히어로즈 오재일      0.242
4 히어로즈 황재균      0.194
5 히어로즈 장영석      0

In [38]:
#17번
DF1 <- DF %>%
  rename(ID = batter_id,
         이름 = batter_name,
         년도 = year)

DF1 %>% show()
DF %>% show()

# A tibble: 1,393 × 29
      ID 이름   년도 team    avg     G    AB     R     H  `2B`  `3B`    HR    TB
   <int> <chr> <int> <chr> <dbl> <int> <int> <int> <int> <int> <int> <int> <int>
 1     0 가르…  2018 LG    0.35      7    20     1     7     1     0     1    11
 2     1 강경…  2011 한화  0         4     2     2     0     0     0     0     0
 3     1 강경…  2014 한화  0         4     0     2     0     0     0     0     0
 4     1 강경…  2015 한화  0.13     10    23     3     3     0     0     0     3
 5     1 강경…  2016 한화  0.188    14    32     4     6     1     1     0     9
 6     1 강경…  2017 한화  0.222    11    36    10     8     0     0     2    14
 7     2 강구…  2013 NC    0         3     4     0     0     0     0     0     0
 8     2 강구…  2016 NC    0         3     1     0     0     0     0     0     0
 9     2 강구…  2017 NC    1         2     1     0     1     0     0     0     1
10    69 김태…  2006 한화  0.2      10    15     0     3     0     0     0     3
# ℹ 1,383 more rows
# ℹ 16 more variables: RBI <int>, SB <int>, CS <int>, BB <int>, HBP <int>,
#   SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>, `height/weight` <chr>,
#   year_born <chr>, position <chr>, career <chr>, starting_salary <chr>,
#   OPS <dbl>
# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2         1 강경학       2011 한화  0         4     2     2     0     0     0
 3         1 강경학       2014 한화  0         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.13     10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0         3     4     0     0     0     0
 8         2 강구성       2016 NC    0         3     1     0     0     0     0
 9         2 강구성       2017 NC    1         2     1     0     1     0     0
10        69 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [41]:
#18번
DF1 <- DF %>%
  mutate(batter_id = batter_id + 100)

DF1 %>% show()
DF %>% show()

# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <dbl> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1       100 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2       101 강경학       2011 한화  0         4     2     2     0     0     0
 3       101 강경학       2014 한화  0         4     0     2     0     0     0
 4       101 강경학       2015 한화  0.13     10    23     3     3     0     0
 5       101 강경학       2016 한화  0.188    14    32     4     6     1     1
 6       101 강경학       2017 한화  0.222    11    36    10     8     0     0
 7       102 강구성       2013 NC    0         3     4     0     0     0     0
 8       102 강구성       2016 NC    0         3     1     0     0     0     0
 9       102 강구성       2017 NC    1         2     1     0     1     0     0
10       169 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>
# A tibble: 1,393 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         0 가르시아     2018 LG    0.35      7    20     1     7     1     0
 2         1 강경학       2011 한화  0         4     2     2     0     0     0
 3         1 강경학       2014 한화  0         4     0     2     0     0     0
 4         1 강경학       2015 한화  0.13     10    23     3     3     0     0
 5         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 6         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 7         2 강구성       2013 NC    0         3     4     0     0     0     0
 8         2 강구성       2016 NC    0         3     1     0     0     0     0
 9         2 강구성       2017 NC    1         2     1     0     1     0     0
10        69 김태완       2006 한화  0.2      10    15     0     3     0     0
# ℹ 1,383 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [42]:
#19번
result <- DF %>%
  mutate(batter_id = paste0(batter_id, "_", batter_name)) %>%
  select(-batter_name)

result %>% show()

# A tibble: 1,393 × 28
   batter_id   year team    avg     G    AB     R     H  `2B`  `3B`    HR    TB
   <chr>      <int> <chr> <dbl> <int> <int> <int> <int> <int> <int> <int> <int>
 1 0_가르시아  2018 LG    0.35      7    20     1     7     1     0     1    11
 2 1_강경학    2011 한화  0         4     2     2     0     0     0     0     0
 3 1_강경학    2014 한화  0         4     0     2     0     0     0     0     0
 4 1_강경학    2015 한화  0.13     10    23     3     3     0     0     0     3
 5 1_강경학    2016 한화  0.188    14    32     4     6     1     1     0     9
 6 1_강경학    2017 한화  0.222    11    36    10     8     0     0     2    14
 7 2_강구성    2013 NC    0         3     4     0     0     0     0     0     0
 8 2_강구성    2016 NC    0         3     1     0     0     0     0     0     0
 9 2_강구성    2017 NC    1         2     1     0     1     0     0     0     1
10 69_김태완   2006 한화  0.2      10    15     0     3     0     0     0     3
# ℹ 1,383 more rows
# ℹ 16 more variables: RBI <int>, SB <int>, CS <int>, BB <int>, HBP <int>,
#   SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>, `height/weight` <chr>,
#   year_born <chr>, position <chr>, career <chr>, starting_salary <chr>,
#   OPS <dbl>

In [50]:
#20번
result <- DF %>%
  mutate(G_R = R/G) %>%
  select(batter_name, G, R, G_R)

result%>% show()

# A tibble: 1,393 × 4
   batter_name     G     R   G_R
   <chr>       <int> <int> <dbl>
 1 가르시아        7     1 0.143
 2 강경학          4     2 0.5
 3 강경학          4     2 0.5
 4 강경학         10     3 0.3
 5 강경학         14     4 0.286
 6 강경학         11    10 0.909
 7 강구성          3     0 0
 8 강구성          3     0 0
 9 강구성          2     0 0
10 김태완         10     0 0
# ℹ 1,383 more rows

In [63]:
#21번
train_set_21 <- DF %>%
  sample_n(30, replace = F)

train_set_21%>% show()

# A tibble: 30 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1       326 한동민       2014 SK    0.286     7     7     3     2     0     0
 2       163 신종길       2014 KIA   0.286     9    14     3     4     0     0
 3        83 나주환       2015 SK    0.24     11    25     3     6     1     0
 4        35 김문호       2017 롯데  0.304    10    23     4     7     1     2
 5        73 김현수       2018 LG    0.429     7    21     4     9     3     0
 6       313 최정         2015 SK    0.067     5    15     2     1     1     0
 7       270 정성훈       2006 현대  0.303     9    33     5    10     0     0
 8       103 민병헌       2018 롯데  0.182     4    11     1     2     1     0
 9        86 노수광       2016 KIA   0.333     1     3     0     1     0     0
10       313 최정         2009 SK    0         2     7     0     0     0     0
# ℹ 20 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [61]:
#22번
train_set_22 <- DF %>%
  sample_frac(0.7)

train_set_22 %>% show()

# A tibble: 975 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1       123 박정권       2007 SK    0.15      9    20     1     3     1     0
 2       105 박경수       2008 LG    0.304    12    23     6     7     2     0
 3        63 김주형       2014 KIA   0.353    12    34     2    12     5     0
 4        85 남태혁       2016 KT    0         4    10     0     0     0     0
 5       172 양성우       2018 한화  0.333     6    12     2     4     0     0
 6        99 모창민       2017 NC    0.385    11    39     5    15     2     0
 7       182 오정복       2016 KT    0.429     2     7     0     3     1     0
 8        85 남태혁       2017 KT    0.2       8    10     1     2     0     0
 9       148 손시헌       2006 두산  0.382    11    34     6    13     2     0
10       311 최윤석       2018 한화  0         2     1     0     0     0     0
# ℹ 965 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>

In [62]:
#23번
test_set <- setdiff(DF, train_set_22)

test_set %>% show()

# A tibble: 418 × 29
   batter_id batter_name  year team    avg     G    AB     R     H  `2B`  `3B`
       <int> <chr>       <int> <chr> <dbl> <int> <int> <int> <int> <int> <int>
 1         1 강경학       2016 한화  0.188    14    32     4     6     1     1
 2         1 강경학       2017 한화  0.222    11    36    10     8     0     0
 3         2 강구성       2013 NC    0         3     4     0     0     0     0
 4         2 강구성       2017 NC    1         2     1     0     1     0     0
 5        69 김태완       2006 한화  0.2      10    15     0     3     0     0
 6        69 김태완       2008 한화  0.375    10    24     3     9     1     0
 7        69 김태완       2009 한화  0.32     10    25     5     8     3     0
 8        69 김태완       2010 한화  0.4       2     5     2     2     0     1
 9        69 김태완       2013 한화  0.25      9    28     3     7     0     0
10        69 김태완       2014 한화  0.125    10    16     1     2     0     0
# ℹ 408 more rows
# ℹ 18 more variables: HR <int>, TB <int>, RBI <int>, SB <int>, CS <int>,
#   BB <int>, HBP <int>, SO <int>, GDP <int>, SLG <dbl>, OBP <dbl>, E <int>,
#   `height/weight` <chr>, year_born <chr>, position <chr>, career <chr>,
#   starting_salary <chr>, OPS <dbl>