<a href="https://colab.research.google.com/github/osohyun0224/Introduction-to-BigData/blob/master/Week03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#/content/sample_data/Pre_Season_Batter_utf.csv
#https://drive.google.com/file/d/1lPZ_dyxdZZECfzqmOimWHukmLaRwLggB/view?usp=drive_link

In [6]:
install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [7]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [8]:
library(data.table)

Attaching package: ‘data.table’


The following objects are masked from ‘package:lubridate’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose

In [12]:
system("gdown --id 1lPZ_dyxdZZECfzqmOimWHukmLaRwLggB")
system("ls", TRUE) #파일확인

[1] "Pre_Season_Batter_utf.csv" "sample_data"

In [14]:
#4번문제
DF <- fread("/content/Pre_Season_Batter_utf.csv", header = T, encoding ="UTF-8") %>% as_tibble()

In [15]:
# 5번 문제
DF %>% select(batter_name, team) %>% show()

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

In [16]:
# 5번 다른 풀이
DF %>% select(.,batter_name, team) %>% show()

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

In [17]:
# 5번 다른 풀이
select(DP,batter_name, team) %>% show()

ERROR: ignored

In [18]:
#6번 잘못된 풀이
 DF1 <- DF  %>%  select(batter_name, team) %>% show()  ## 이렇게 하면 아무것도 안나옴(잘못된 풀이)

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows

In [19]:
#6번 올바른 풀이
 DF1 <- DF  %>%  select(batter_name, team) # 여기에 반드시 show가 있으면 안됨.
 DF1 %>% show()

# A tibble: 1,393 × 2
   batter_name team
   <chr>       <chr>
 1 가르시아    LG
 2 강경학      한화
 3 강경학      한화
 4 강경학      한화
 5 강경학      한화
 6 강경학      한화
 7 강구성      NC
 8 강구성      NC
 9 강구성      NC
10 김태완      한화
# ℹ 1,383 more rows